* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    background: lightgray;
    border: 1px solid #ccc;
}

.slide img {
    max-width: 1260px;
    margin: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
